<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robin.m4thkidsapp">

    <application
        android:name=".App"
        android:icon="@mipmap/m4thkids_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".topic_menu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_topic_menu"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LevelMenu"
            android:label="@string/title_activity_level_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Questions"
            android:label="@string/title_activity_questions"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>